<footer id="footer" class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">  
    <div id="newsletter">
      <h2>{{ site.newsletter_section.title }}</h2>
      <a class="btn-primary" href="{{ site.newsletter_section.newsletter_link.url }}" target="_blank">{{ site.newsletter_section.newsletter_link.text }}</a>
    </div>
    <div class="legal-pages">
      {%- for my_page in site.legal_pages -%}
        <div class="legal-page">
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</footer>
