<footer id="contact" class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-contact">
      <h2 class="footer-heading">Say hi</h2>
      <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      {%- for my_page in site.legal_pages -%}
        {%- if my_page.title -%}
        <div class="legal-page">
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>

</footer>
