<header class="site-header" role="banner">
  {%- assign main_menu_pages = site.pages | where: "menu", "main" -%}
  <nav class="site-nav">
    <div class="page-links trigger">
      <div class="left-wrapper">
        {%- for nav in site.navigation.left -%}
        <a class="page-link" href="{{ my_page.url | relative_url }}/#{{ nav.id }}" onclick="
        document.location.pathname == '/' && event.preventDefault() && event.stopPropagation(); 
        getElementById('{{ nav.id }}').scrollIntoView({ behavior: 'smooth' })">
          <img class="page-link-img" src="/assets/imgs/nav-icons/{{ nav.id }}.png" alt="{{ nav.alt }}">
        </a>
        {%- endfor -%}
      </div>
      <div class="right-wrapper">
        <a class="btn-primary" href="https://site.arboxapp.com/schedule?identifier=SwxyldKI&whitelabel=Arbox&referer=SITE&lang=en&scheduleType=workshops" target="_blank">{{ site.navigation.right.button_booking }}</a>
      </div>
    </div>
  </nav>
</header>
