---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Width of the content area
$content-width:    1200px !default;
$default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$header-font-family: $default-font;
$paragraph-font-family: $default-font;
$button-font-family: $default-font;
$text-color: black;
$background-color: #FFFCFC;
$secondary-background-color: rgb(243, 238, 237);
@import "minima";


/*
  Theme overrides
 */

/*
 * Header
 */

header {
	.btn-primary {
		border-radius: 12px; 
		padding: 12px;
	}
	&.site-header {
		position: absolute;
		top: 15px;
	  border: 0px;
	  width: 100%;
	  z-index: 999;
	  .site-nav {
			float: none;
		}
		.page-links {
			display: flex;
		  justify-content: space-around;
		  align-items: center;
		  flex-wrap: nowrap;
		  .page-link {
	    	.page-link-img {
	    		width: 62.15px;
	    		height: 85px;
	    	}
	    }
		}
	}
}

@media screen and (max-width: 600px) {
header.site-header {
	.site-nav { 
			position: inherit;
	    top: auto;
	    right: auto;
	    background-color: transparent;
	    border: none;
	    text-align: left;
	    .page-link {
	    	margin-left: 10px;
	    	display: inline;
	    	.page-link-img {
	    		width: 46.6125px;
	    		height: 63.75px;
	    	}
	    }
			.right-wrapper {
				display: none;
			}
		}
	}
}

/*
@media screen and (min-width: $on-laptop * 2) {
	.wrapper {
		max-width: -webkit-calc(#{$content-width} * 2 - (#{$spacing-unit}));
	  max-width:         calc(#{$content-width} * 2 - (#{$spacing-unit}));
	  padding-right: $spacing-unit / 2;
	  padding-left: $spacing-unit / 2;
	}
}*/

body {
  min-height: 100vh; /* enables full screen image above the fold */
  background-color: #FFFFFF;
}

h1, h2, h3 {
	font-family: $header-font-family; 
}

h1 {
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: normal;
}
@media screen and (min-width: $on-laptop) {
	h1 {
		font-size: 2.8rem;
		line-height: 3.3rem;
	}
}
@media screen and (min-width: $on-laptop * 2) {
	h1 {
		font-size: 3rem;
		line-height: 3.8rem;
	}
}

h2 {
	font-size: 1.4rem;
	font-weight: bold;
}
@media screen and (min-width: $on-laptop) {
	h2 {
		font-size: 1.8rem;
		font-weight: normal;
	}
}
@media screen and (min-width: $on-laptop * 2) {
	h2 {
		font-size: 2.5rem;
	}
}

section {
	padding: 50px 0;
}

section > h2 {
	text-align: center;
	margin-bottom: 50px;
}

h3 {
	font-size: 1.1rem;
}
@media screen and (min-width: $on-laptop) {
	h3 {
		font-size: 1.4rem;
	}
}
@media screen and (min-width: $on-laptop * 2) {
	h3 {
		font-size: 1.7rem;
	}
}

p {
	font-family: $paragraph-font-family;
}

.caption {
	font-size: 0.7rem;
	&.caption-left {
		text-align: left;
	}

	&.caption-right {
		text-align: right;
	}
}

a {
	font-family: $button-font-family;
	text-decoration: none! important;

	.arrow-visible-on-hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    vertical-align: middle;
	}
	&:hover .arrow-visible-on-hover {
		opacity: 1;
	}
}

.box-shadow {
	box-shadow: 1px 2px 3px 1px #00000052
}

.box-shadow-high-blur {
	box-shadow: 9px -13px 20px 1px #96959552
}

.btn {
	display: inline-block;

	&:hover {
		filter: brightness(0.90);
	}

	&:visited {
		filter: brightness(0.70);
	}
}

video {
	max-width: 100%;
}

.btn-primary {
	border-radius: 6px;
	color: white !important;
	background-color: rgb(46, 124, 157);
	padding: 0.7rem;
	font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
	.btn-primary {
		padding: 0.7 rem;
		font-size: 1.2rem;
	}
}

.btn-secondary {
	border-radius: 6px;
	color: #494949 !important;
  border: #494949 1px solid;
	padding: 0.7rem;
	font-size: 1.1rem;
	background-color: white;
}


@media screen and (min-width: 800px) {
	.btn-secondary {
		padding: 0.7rem;
		font-size: 1.2rem;
	}
}

.flex-center > .btn:nth-child(2) {
	margin-left: 5px;
}
@media screen and (min-width: 800px) {
	.flex-center > .btn:nth-child(2) {
		margin-left: 20px;
	}
}

.center {
	text-align: center;
}

.center-children {
	& > * {
		text-align: center;
	}
}

.flex {
	display: flex;
}


@media screen and (min-width: 800px) {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
		& > :nth-child(n+2) {
			padding-left: 20px;
		}
	}
	.columns-2 {
		display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    &.vertical-center-items {
    	align-items: center;
    }
    .img-with-subtitle:nth-child(2) {
    	padding-left: 40px;
    }
	}

	.masonry {
	  column-count: 2;
	  column-gap: 30px;
	  *  {
		  margin: 0;
		  display: grid;
		  grid-template-rows: 1fr auto;
		  margin-bottom: 10px;
		  break-inside: avoid;
		}
	}

	
}

.single-rounded-corner {
	border-radius: 0 0 60px 0;
}

.rounded-corners {
	border-radius: 60px 0 60px 0;
}

/*
************ Footer
*/
#footer {
	background-image: url("/assets/imgs/yogamatte-hell.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $secondary-background-color;
	color: $text-color;
	padding: 0 0 20px 0;
	* {
		color: $text-color;
		text-decoration: none !important;
		text-align: center;
	} 

	#newsletter {
		padding: 50px 0;
		text-align: center;
	}

	.legal-pages {
		text-align: left;
	}
}

.quote {
	width: 100%;
	text-align: center;
  padding: 50px 0px;
  margin: 50px 0;
  .quote-text {
  	font-size: 20px;
  }
}


.gallery {
	background: #EEE;
}

.carousel-cell-image {
  transition: opacity 700ms;
  opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.flickity-viewport {
	height: 90vh !important;
	.flickity-slider {
		img {
    	max-height: 100%;
	    height: auto;
	    max-width: none;
		}
	}
}

.flickity-button, .flickity-page-dots {
	display: none;
}

.show-more {
	transition: opacity 400ms ease-in-out;
	display: none;
	opacity: 0;
	&.shown {
		display: block;
		opacity: 1;
	}
}

/*
************ Landing page
*/

#landing {
  /* background: url("/assets/imgs/sirsana.png") no-repeat center center scroll;
  background-size: cover; */
  /*height: 100vh;*/
  padding: 0;
}

#calendar {
	.calendar {
		iframe {
			border: 0px;
		}
	}
}

@media screen and (min-width: $on-laptop) {
	#news-section {
		width: 100%;
		background-color: $secondary-background-color;
	}
	#news-list {
		h4 {
			font-weight: bold;
		}

		.news-header {
			display: flex;
	    align-content: center;
	    h4, h5 {
	    	display: inline;
	    }
	    .news-date {
				margin-left: auto;
				margin-right: 20px;
	    }
		}
		.news {
			/*border-top: 1px solid #c1c1c1;*/
			padding-top: 10px;
		}
		overflow: hidden;
	}
}

#iyengar-video {
	margin-top: 50px;
	text-align: center;
}

#iyengar-quote {
	background-image: url("/assets/imgs/iyengar-zitat.svg");
  background-position: 10% center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $secondary-background-color;
  color: $text-color;
}

#masui-quote {
	background-image: url("/assets/imgs/yogamatte-dunkel.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $secondary-background-color;
  color: $text-color;
}

#focal-points {
	text-align: center;
	.inline-bullet-list {
		.bullet {
	    margin-right: 5px;
		}
		.bullet:not(:last-child)::after {
	    content: '•';
	    margin-left: 5px;
	  }
	}
	.cards {
		/*margin-top: 50px;
		display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
		justify-content: space-around;*/
		.card {
			margin-right: 20px;
			
			.card-header {
				width: 100%;
				//background: url("/assets/imgs/focal-points/card-top.png") no-repeat;
				text-align: left;
				color: black;
				div {
					padding: 15px 0 10px 15px;
					h4 {
						margin-bottom: 5px;
						font-weight: 600;
					}
					h5 {
						margin-bottom: 0px;
					}
				}
			}
			.card-image {
				width: 100%;
				position: relative;
				img {
					width: 100%;
				}
				.card-image-description {
					position: absolute;
					opacity: 0;
					transition: opacity 400ms ease-in-out;
					bottom: 0;
					padding: 5px;
					margin-bottom: 0;
				}
			}
			&:hover {
				.card-image-description {
					opacity: 1;
					background-color: rgba(248,234,223,0.85);
				}	
			}
		}
	}
}

@media screen and (min-width: $on-laptop) {
	#focal-points {
		.cards {
			margin-top: 50px;
			display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    grid-gap: 1em;
			justify-content: space-around;
		}
	}
}
@media screen and (min-width: $on-laptop * 1.5) {
	#focal-points {
		.cards {
			margin-top: 50px;
			display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-gap: 1em;
			justify-content: space-around;
		}
	}
}
#about {
	background-color: $secondary-background-color;
	background-image: url("/assets/imgs/uebermich-hell.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

#impressum {
	h3 {
		margin-top: 20px;
		margin-bottom: 5px;
		font-size: 14px;
		text-transform: uppercase;
	}
}

