---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Width of the content area
$content-width:    1200px !default;
$header-font-family: roc-grotesk;
$paragraph-font-family: Helvetica;
$button-font-family: Helvetica;
$text-color: #824949;
$background-color: #FFFCFC;
@import "minima";

/*
  Theme overrides
 */

/*
 * Header
 */

header.site-header {
	position: absolute;
  border: 0px;
  width: 100%;
}
header.site-header .site-nav {
	float: none;
}
header .page-links {
	display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

/*
@media screen and (min-width: $on-laptop * 2) {
	.wrapper {
		max-width: -webkit-calc(#{$content-width} * 2 - (#{$spacing-unit}));
	  max-width:         calc(#{$content-width} * 2 - (#{$spacing-unit}));
	  padding-right: $spacing-unit / 2;
	  padding-left: $spacing-unit / 2;
	}
}*/

body {
  min-height: 100vh; /* enables full screen image above the fold */
  background-color: #F8EADF;
}

h1, h2, h3 {
	font-family: $header-font-family; 
}

h1 {
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: normal;
}
@media screen and (min-width: $on-laptop) {
	h1 {
		font-size: 2.8rem;
		line-height: 3.3rem;
	}
}
@media screen and (min-width: $on-laptop * 2) {
	h1 {
		font-size: 3rem;
		line-height: 3.8rem;
	}
}

h2 {
	font-size: 1.4rem;
	font-weight: bold;
}
@media screen and (min-width: $on-laptop) {
	h2 {
		font-size: 1.8rem;
		font-weight: normal;
	}
}
@media screen and (min-width: $on-laptop * 2) {
	h2 {
		font-size: 2.5rem;
	}
}

section {
	padding-top: 50px;
}

section > h2 {
	text-align: center;
	margin-bottom: 50px;
}

h3 {
	font-size: 1.1rem;
}
@media screen and (min-width: $on-laptop) {
	h3 {
		font-size: 1.4rem;
	}
}
@media screen and (min-width: $on-laptop * 2) {
	h3 {
		font-size: 1.7rem;
	}
}

p {
	font-family: $paragraph-font-family;
}

a {
	font-family: $button-font-family;
	cursor: url(ui/mouse-pointer-heart.svg), pointer;
	text-decoration: none! important;

	.arrow-visible-on-hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    vertical-align: middle;
	}
	&:hover .arrow-visible-on-hover {
		opacity: 1;
	}
}

.box-shadow {
	box-shadow: 1px 2px 3px 1px #00000052
}

.box-shadow-high-blur {
	box-shadow: 9px -13px 20px 1px #96959552
}

.btn {
	display: inline-block;

	&:hover {
		filter: brightness(0.90);
	}

	&:visited {
		filter: brightness(0.70);
	}
}

.btn-primary {
	border-radius: 6px;
	color: white !important;
	background-color: rgb(46, 124, 157);
	padding: 0.7rem;
	font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
	.btn-primary {
		padding: 0.7 rem;
		font-size: 1.2rem;
	}
}

.btn-secondary {
	border-radius: 6px;
	color: #494949 !important;
  border: #494949 1px solid;
	padding: 0.7rem;
	font-size: 1.1rem;
	background-color: white;
}


@media screen and (min-width: 800px) {
	.btn-secondary {
		padding: 0.7rem;
		font-size: 1.2rem;
	}
}

.flex-center > .btn:nth-child(2) {
	margin-left: 5px;
}
@media screen and (min-width: 800px) {
	.flex-center > .btn:nth-child(2) {
		margin-left: 20px;
	}
}

.center {
	text-align: center;
}

.center-children {
	& > * {
		text-align: center;
	}
}

.flex {
	display: flex;
}


@media screen and (min-width: 800px) {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
		& > :nth-child(n+2) {
			padding-left: 20px;
		}
	}
	.columns-2 {
		display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
	}
}

/*
************ Footer
*/
.site-footer {
	background-color: $text-color;
	* {
		color: white !important;
		text-decoration: none !important;
		text-align: center;
	} 
	
	.footer-contact {
		text-align: center;;
		h2 {
			font-size: 26px;
		}
	}
}

.quote {
	width: 100%;
	text-align: center;
  padding: 50px 0px;
}

/*
************ Landing page
*/

#landing {
  background: url("/assets/imgs/sirsana.png") no-repeat center center scroll;
  background-size: cover;
  height: 100vh;
}

#kalender {
	.kalender {
		width: 65%;
    margin: auto;
	}
}

#iyengar-quote {
	background-image: url("/assets/imgs/iyengar-zitat.svg"), url("/assets/imgs/steinchen-zitat.svg");
  background-position: 10% center, 80% center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  background-color: #E9CE6D;
  color: #50231B;
}

#masui-quote {
	background-image: url("/assets/imgs/iyengar-zitat.svg"), url("/assets/imgs/steinchen-zitat.svg");
  background-position: 10% center, 80% center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  background-color: #50231B;
  color: white;
}



