<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="section-title">
      <div class="wrapper">
        <div class="wrapper-center">
          <a href="/project/{{ page.previousProject }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 43.665 43.665">
              <g id="Icon_feather-arrow-up-right" data-name="Icon feather-arrow-up-right" transform="translate(21.772 40.837) rotate(-135)">
                <path id="Pfad_5" data-name="Pfad 5" d="M0,28.962a1.994,1.994,0,0,1-1.41-.581,2,2,0,0,1-.009-2.828L25.371-1.41A2,2,0,0,1,28.2-1.419a2,2,0,0,1,.009,2.828L1.419,28.372A1.994,1.994,0,0,1,0,28.962Z" fill="#fff"/>
                <path id="Pfad_6" data-name="Pfad 6" d="M26.79,28.962a2,2,0,0,1-2-2V2H0A2,2,0,0,1-2,0,2,2,0,0,1,0-2H26.79a2,2,0,0,1,2,2V26.962A2,2,0,0,1,26.79,28.962Z" fill="#fff"/>
              </g>
            </svg>
            <span>&nbsp;&nbsp;Previous project</span>
          </a>
          <h2>{{ page.displayName }}</h2>
          <a href="/project/{{ page.nextProject }}">
            <span>Next project&nbsp;&nbsp;</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 43.665 43.665">
              <g id="Icon_feather-arrow-up-right" data-name="Icon feather-arrow-up-right" transform="translate(21.894 2.828) rotate(45)">
                <path id="Pfad_5" data-name="Pfad 5" d="M0,28.962a1.994,1.994,0,0,1-1.41-.581,2,2,0,0,1-.009-2.828L25.371-1.41A2,2,0,0,1,28.2-1.419a2,2,0,0,1,.009,2.828L1.419,28.372A1.994,1.994,0,0,1,0,28.962Z" fill="white"/>
                <path id="Pfad_6" data-name="Pfad 6" d="M26.79,28.962a2,2,0,0,1-2-2V2H0A2,2,0,0,1-2,0,2,2,0,0,1,0-2H26.79a2,2,0,0,1,2,2V26.962A2,2,0,0,1,26.79,28.962Z" fill="white"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <section>
      <div class="wrapper flex-center">
        <image class="single-project-content" src="/assets/projects/{{ page.handle }}/{{ page.contentImage }}"/>
      </div>
    </section>

    {%- include footer.html -%}

  </body>

</html>
